version: 2.1
orbs:
  node: circleci/node@4.1.0
  aws-cli: circleci/aws-cli@1.0.0
  browser-tools: circleci/browser-tools@1.0.1
jobs:
  unit_test:
    executor: node/default
    steps:
      - checkout
      - node/install-packages
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          name: Unit test
          command: npm run test-ci
  sonar-scanner:
    docker:
    - image: sonarsource/sonar-scanner-cli
      environment:
        SONAR_HOST_URL: $SONAR_SERVER
    steps:
      - checkout
      - run:
          name: Run analysis
          command: |
            sonnar-scanner

  build:
    executor: node/default
    steps:
      - checkout
      - node/install-packages
      - run:
          name: Build
          command: npm run build
      - persist_to_workspace:
          root: ~/project
          paths: .
  deploy:
    executor: aws-cli/default
    steps:
      - attach_workspace:
          at: ~/project
      - aws-cli/install
      - aws-cli/setup
      - run:
          name: Deploy to AWS
          command: |
            cd dist/pet-book
            aws s3 sync . s3://pet-book-bocachicos
workflows:
  defaul:
    jobs:
      - unit_test
      - sonar-scanner
      - build:
          requires:
            - unit_test
            - sonar-scanner
      - deploy:
          requires:
            - build
