version: 2.1
orbs:
  node: circleci/node@4.1.0
  aws-cli: circleci/aws-cli@1.0.0
  browser-tools: circleci/browser-tools@1.0.1
  sonarcloud: extendaretail/sonarcloud@0.0.2
jobs:
  unit_test:
    executor: node/default
    steps:
      - checkout
      - node/install-packages
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          name: Unit test
          command: npm run test-ci
  sonar-scanner:
    executor: node/default
    steps:
      - checkout
      - run:
          name: Sonar Analysis
          command: |
            npm i -D sonarqube-scanner
            ./node_modules/sonarqube-scanner/dist/bin/sonar-scanner -Dsonar.login=$SONAR_AUTH_TOKEN
      - sonarcloud/check_quality_gate
  build:
    executor: node/default
    steps:
      - checkout
      - node/install-packages
      - run:
          name: Build
          command: npm run build
      - persist_to_workspace:
          root: ~/project
          paths: .
  zip:
    machine: true
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Zip build
          command: docker run -v dist/pet-book:/to_zip kramos/alpine-zip -r pet-book.zip /to_zip
  deploy:
    executor: aws-cli/default
    steps:
      - attach_workspace:
          at: ~/project
      - aws-cli/install
      - aws-cli/setup
      - run:
          name: Deploy to AWS
          command: |
            cd dist/pet-book
            aws s3 sync . s3://pet-book-bocachicos
workflows:
  default:
    jobs:
      # - unit_test
      # - sonar-scanner:
      #     requires:
      #       - unit_test
      # - build:
      #     requires:
      #       - sonar-scanner
      - build
      - zip:
          requires:
            - build
      # - deploy:
      #     requires:
      #       - build
