version: 2.1
orbs:
  node: circleci/node@4.1.0
  aws-cli: circleci/aws-cli@1.0.0
  browser-tools: circleci/browser-tools@1.0.1
  sonarcloud: sonarsource/sonarcloud@1.0.2
jobs:
  unit_test:
    executor: node/default
    steps:
      - checkout
      - node/install-packages
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          name: Unit test
          command: npm run test-ci
  scanner:
    executor: node/default
    steps:
      - checkout
      - sonarcloud/scan
  build:
    executor: node/default
    steps:
      - checkout
      - node/install-packages
      - run:
          name: Build
          command: npm run build
      - persist_to_workspace:
          root: ~/project/dist/pet-book
          paths: .
  deploy:
    executor: aws-cli/default
    steps:
      - attach_workspace:
          at: ~/project/dist/pet-book
      - aws-cli/install
      - aws-cli/setup
      - run:
          name: Deploy to AWS
          command: aws s3 sync . s3://pet-book-bocachicos
workflows:
  defaul:
    jobs:
      - unit_test
      - build:
          requires:
            - unit_test
      - deploy:
          requires:
            - build
