version: 2.1
orbs:
  node: circleci/node@4.1.0
  aws-cli: circleci/aws-cli@1.0.0
  browser-tools: circleci/browser-tools@1.0.1
  sonarcloud: extendaretail/sonarcloud@0.0.2
jobs:
  unit_test:
    executor: node/default
    steps:
      - checkout
      - node/install-packages
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run:
          name: Unit test
          command: npm run test-ci
  sonar-scanner:
    executor: node/default
    steps:
      - checkout
      - run:
          name: Sonar Analysis
          command: |
            npm i -D sonarqube-scanner
            ./node_modules/sonarqube-scanner/dist/bin/sonar-scanner -Dsonar.login=$SONAR_AUTH_TOKEN
      - sonarcloud/check_quality_gate
  build:
    executor: node/default
    steps:
      - checkout
      - node/install-packages
      - run:
          name: Build
          command: npm run build
      - persist_to_workspace:
          root: ~/project/dist
          paths: pet-book
  zip:
    machine: true
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Zip build
          command: docker run -v /home/circleci/project/pet-book:/to_zip -w /to_zip kramos/alpine-zip -r pet-book.zip /to_zip
      - store_artifacts:
          path: /home/circleci/project/pet-book/pet-book.zip
      - persist_to_workspace:
          root: ~/project
          paths: .
  deploy:
    executor: aws-cli/default
    steps:
      - attach_workspace:
          at: ~/project
      - aws-cli/install
      - aws-cli/setup
      - run:
          name: Deploy app to AWS
          command: aws s3 sync pet-book s3://pet-book-bocachicos
      - run:
          name: Deploy artifact to AWS
          command: aws s3 cp pet-book/pet-book.zip s3://pet-book-bocachicos-artifact
workflows:
  default:
    jobs:
      - unit_test
      - sonar-scanner:
          requires:
            - unit_test
      - build:
          requires:
            - sonar-scanner
      - zip:
          requires:
            - build
      - deploy:
          requires:
            - zip
